.header{
    margin-top: 10px;
}
.header nav a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
    padding: 0 5px;
    
}
.header nav a:hover{
    background-color: lightblue;
    color: black;
}